################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/opengl_tutorial.VC.db
/opengl_tutorial.VC.VC.opendb
/.vs
/opengl_tutorial/Debug
